.dashboard_menu_icon {
	float: left;
}

.dashboard_menu_icon img {
	margin: 5px;
}
.dashboard_menu_icon:hover {
	cursor: pointer;
	background: #2e7db2;
}

.dashboard_menu_icon-active {
	background: #2e7db2;
}

.ui-widget{
	font-size: 0.8em;
}

.dashboardProperty{
	width: 500px;
	height: 500px;
}

.dashboardPropertyItem{
	clear:both;
	height: 35px;
}

.dashboardPropertyItem div{
	width: 80px;
	height: 25px;
	float: left;
	margin-left: 10px;
}

.dashboardPropertyItem input{
	width: 200px;
	height: 25px;
}

.dashboardPropertyItem input[type=radio]{
	width: 50px;
	height: 25px;
	float: left;
	margin-top: auto;
}

.dashboardPropertyItem select{
	width: 200px;
	height: 25px;
}
.dashboardPropertyItem > .number{
	text-align: right;
}